
aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: rgba(255, 0, 0, 0.63);
}
section {
width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: center;
  font-style: italic;
  background-color: rgba(4, 98, 206, 0.781);
}
img[src="segredo.jpg"]:hover{
  filter:saturate(10000%);
  width:50%;
  height:50%;
  

}
img[src="segredo.jpg"]{
  width:20%;
  height:20%;
}
header{
  background-color: rgba(255, 0, 0, 0.63);
  font-size:30px;
  text-align: center;
  word-spacing:60px;
  padding-top:15px;
  padding-bottom: 15px;

}
a{
  color:white;
  text-decoration: none;
}
body{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(253, 181, 147);
}

