
aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: red;
}
section {
width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: center;
  font-style: italic;
  background-color: blue;
}
img[src="segredo.jpg"]:hover{
  filter:saturate(10000%);
  width:50%;
  height:50%;
  
}
img[src="segredo.jpg"]{
  width:20%;
  height:20%;
}
